---
import Grid from "@lib/components/Grid.astro";
import Card from "@lib/components/card/Card.astro";
import BaseLayout from "@lib/layouts/BaseLayout.astro";

import filterMans from "src/assets/filter/img/filter5.jpeg";
import seedPoster from "src/assets/seed/img/seed2.jpeg";
import loopPoster from "src/assets/gen/posters/loop4.jpeg";
import draftPoster from "src/assets/draft/img/draft4.jpeg";
import squaresPoster from "src/assets/squares/even-series-1.13.jpeg";
---

<BaseLayout title="Works">
    <div class="grid">
        <a href="/works/loops" data-row="5" data-column="3">
            <Card>
                <img
                    src={loopPoster.src}
                    slot="illustration"
                    width={512}
                    height={512}
                    style="object-fit: cover;transform:scale(1.25)"
                />
            </Card>
        </a>
        <a href="/works/filter" data-column="3" data-row="6">
            <Card>
                <img
                    src={filterMans.src}
                    slot="illustration"
                    width={512}
                    height={512}
                    style="object-fit: cover; transform:scale(1.25) translateY(10%)"
                />
            </Card>
        </a>
        <a href="/works/snap-seed">
            <Card>
                <img
                    src={seedPoster.src}
                    slot="illustration"
                    width={512}
                    height={512}
                    style="object-fit: conver;"
                />
            </Card>
        </a>
        <a href="/works/squares">
            <Card>
                <img
                    src={squaresPoster.src}
                    slot="illustration"
                    width={512}
                    height={512}
                    style=""
                />
            </Card>
        </a>
        <a href="/works/draft">
            <Card>
                <img
                    src={draftPoster.src}
                    slot="illustration"
                    width={512}
                    height={512}
                    style="object-fit: cover;"
                />
            </Card>
        </a>
    </div>
</BaseLayout>

<style>
    a {
        display: grid;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    @media (max-width: 896px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }
</style>
