---
import BaseLayout from '@lib/layouts/BaseLayout.astro';
import Video from '@lib/components/Video.astro';

import glitterDonut from '@assets/works/glitter-donut.mp4';

import mans from '@assets/works/mans.jpeg';
import ulv from '@assets/works/ulv.png';
import filedStudies from '@assets/works/field-studies.jpg';

import tickles from '@assets/works/tickles.mp4';

import blockMan from '@assets/works/block-man.jpg';
import towers from '@assets/works/towers.jpeg';
import orangeLook from '@assets/works/orange-look.jpeg';
import blink from '@assets/works/blink.mp4';
import travelingPaths from '@assets/works/traveling-paths.jpg';
import travelingPathsOriginal from '@assets/works/traveling-paths.jpg';
import shapePacking from '@assets/works/shape-packing.jpg';
import palace from '@assets/works/palace.jpg';
import evenspace from '@assets/works/even-space.jpg';
import evenspace32 from '@assets/works/even-space-3-2.jpg';
import bars from '@assets/works/bars.jpg';

import flowField from '@assets/works/flow-field.jpeg';

import stackingCells from '@assets/works/stacking-cells.mp4';
import lines from '@assets/works/lines.mp4';

import tubules from '@assets/works/tubules.mp4';

import vormHole from '@assets/works/vorm-hole.mp4';
import anna from '@assets/works/anna.jpeg';
import jag from '@assets/works/jag.jpeg';
import Img from '@lib/components/Img.astro';
import tentac from '@assets/works/tentac.mp4';
import aquia from '@assets/works/aquia.jpeg';
import rangs from '@assets/works/rangs.mp4';
import stipp from '@assets/works/stipp.mp4';
import buble from '@assets/works/buble.mp4';
import match from '@assets/works/match.mp4';
import diffuse from '@assets/works/diffuse.mp4';
import circling from '@assets/works/circling.mp4';
---

<BaseLayout title="works">
  <div
    class="gap-6 flex flex-col md:grid grid-cols-12 grid-auto-flow-dense items-stretch justify-items-stretch"
  >
    <Video aspect={[1, 1]} src={glitterDonut} class="col-span-8 row-span-2" />
    <!-- <Img aspect={[1, 1]} src={shapePacking} alt="shape packing" class="col-span-4" /> -->
    <Img aspect={[1, 1]} src={orangeLook} alt="orange look" class="col-span-4" />
    <!-- <Img aspect={[1, 1]} src={filedStudies} alt="field studies" class="col-span-4" /> -->
    <Img aspect={[1, 1]} src={palace} alt="palace" class="col-span-4" />
    <!-- <Img src={evenspace} alt="even space" class="col-span-4 row-span-2 w-full" /> -->
    <!-- <Img aspect={[1, 1]} src={travelingPaths} alt="traveling paths" class="col-span-8" /> -->
    <Img aspect={[1, 1]} src={bars} alt="bars" class="col-span-6" />
    <!-- <Img aspect={[1, 1]} src={evenspace32} alt="even space 32" class="col-span-6" /> -->
    <Video aspect={[1, 1]} src={tubules} class="col-span-6" />
    <Img src={mans} alt="mans" class="col-span-8 row-span-3 h-full" />
    <Img src={ulv} alt="ulv" class="col-span-4 h-full" />
    <!-- <Video src={tubules} class="col-span-4" /> -->
    <Video src={blink} class="col-span-8 row-span-2" />
    <!-- <Img src={flowField} alt="flow field" class="col-span-4" /> -->
    <Video src={circling} class="col-span-4" aspect={[1, 1]} />
    <!-- <Img src={anna} alt="anna" class="col-span-3 row-span-2" crop={{ reflect: { x: -1 } }} /> -->
    <!-- <Img src={towers} alt="towers" class="" /> -->
    <!-- <Img src={jag} alt="jag" class="col-span-3" /> -->
    <Video src={tentac} class="col-span-5 row-span-1" />
    <!-- <Video src={lines} class="col-span-7" /> -->
    <Img src={travelingPathsOriginal} alt="traveling paths" class="col-span-7" />
    <Video src={vormHole} class="col-span-4 row-span-1" />
    <Video src={stipp} class="col-span-4" />
    <Video src={rangs} class="col-span-3 row-span-2" />
    <Img src={aquia} alt="view" class="col-span-5 row-span-2" />
    <Img src={blockMan} alt="block man" class="col-span-4" />
    <!-- <Video src={stackingCells} class="col-span-3" /> -->
    <Img crop={{ reflect: { x: -1 } }} src={anna} alt="anna" class="col-span-4 row-span-2" />
    <!-- <Img aspect={[1, 1]} src={shapePacking} alt="shape packing" class="col-span-6" /> -->
    <Video src={diffuse} class="col-span-6" />
    <Img aspect={[1, 1]} src={evenspace32} alt="even space 32" class="col-span-6" />
    <Video src={match} class="col-span-12 row-span-1" />
  </div>
</BaseLayout>
