---
import BaseLayout from "@lib/layouts/BaseLayout.astro";
import Video from "@lib/components/Video.astro";
import { Image } from "astro:assets";

import glitterDonut from "@assets/works/glitter-donut.mp4";

import mans from "@assets/works/mans.jpeg";
import ulv from "@assets/works/ulv.png";
import filedStudies from "@assets/works/field-studies.jpg";

import tickles from "@assets/works/tickles.mp4";

import blockMan from "@assets/works/block-man.jpg";
import towers from "@assets/works/towers.jpeg";
import orangeLook from "@assets/works/orange-look.jpeg";
import blink from "@assets/works/blink.mp4";

import flowField from "@assets/works/flow-field.jpeg";

import stackingCells from "@assets/works/stacking-cells.mp4";
import lines from "@assets/works/lines.mp4";

import tubules from "@assets/works/tubules.mp4";

import vormHole from "@assets/works/vorm-hole.mp4";
import anna from "@assets/works/anna.jpeg";
import jag from "@assets/works/jag.jpeg";
import view from "@assets/works/view.jpeg";
import munn from "@assets/works/munn.jpeg";
import pyra from "@assets/works/pyra.png";
import even from "@assets/works/even.png";

let widths = (imgSize: number) => [720, imgSize];
let sizes = (imgSize: number) => `(max-width:960px) 720px, ${imgSize}px`;
---

<BaseLayout title="works">
  <div class="flow2">
    <Video src={glitterDonut} />
    <Image
      format="webp"
      format="webp"
      src={mans}
      alt="mans"
      widths={widths(mans.width)}
      sizes={sizes(mans.width)}
    />
    <Image format="webp" src={ulv} alt="ulv" widths={widths(ulv.width)} sizes={sizes(ulv.width)} />
    <Image
      format="webp"
      src={filedStudies}
      alt="filed studies"
      widths={widths(filedStudies.width)}
      sizes={sizes(filedStudies.width)}
    />
    <Video src={tickles} />
    <Image
      format="webp"
      src={blockMan}
      alt="block man"
      widths={widths(blockMan.width)}
      sizes={sizes(blockMan.width)}
    />
    <Image
      format="webp"
      src={towers}
      alt="towers"
      widths={widths(towers.width)}
      sizes={sizes(towers.width)}
    />
    <Image
      format="webp"
      src={orangeLook}
      alt="orange look"
      widths={widths(orangeLook.width)}
      sizes={sizes(orangeLook.width)}
    />
    <Video src={blink} />
    <Image
      format="webp"
      src={flowField}
      alt="flow field"
      widths={widths(flowField.width)}
      sizes={sizes(flowField.width)}
    />
    <Video src={stackingCells} />
    <Video src={lines} />
    <Video src={tubules} />
    <Video src={vormHole} />
    <Image
      format="webp"
      src={anna}
      alt="anna"
      widths={widths(anna.width)}
      sizes={sizes(anna.width)}
    />
    <Image format="webp" src={jag} alt="jag" widths={widths(jag.width)} sizes={sizes(jag.width)} />
    <Image
      format="webp"
      src={view}
      alt="view"
      widths={widths(view.width)}
      sizes={sizes(view.width)}
    />
  </div>
</BaseLayout>

<style>
  .flow2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 480px), 1fr));
    gap: 32px;
  }
</style>
