---
import Grain from "@lib/components/Grain.astro";
import Nav from "@lib/components/Nav.astro";
import Social from "@lib/components/Social.astro";
import "@lib/style/main.css";

export interface Props {
    title?: string;
    fullScreen?: boolean;
}

const { fullScreen, title } = Astro.props;
---

<!doctype html>
<html lang="en" data-route={title} data-fullscreen={fullScreen}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300&display=swap"
            rel="stylesheet"
        />

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header>
            <!-- <Social /> -->
            <Nav />
        </header>

        <main class="wrapper">
            <slot />
        </main>
        <!-- <Grain /> -->
    </body>
</html>

<script>
    let route = document.documentElement.dataset.route;
    if (route != "home" && route != "ani") {
        let currentSvgTime = +localStorage.getItem("svgTime");
        let time = null;
        const updateTimeLine = (t: number) => {
            t /= 1000;
            if (time != null) {
                let delta = t - time;
                currentSvgTime += delta;
                localStorage.setItem("svgTime", `${currentSvgTime}`);
            }

            time = t;
            requestAnimationFrame(updateTimeLine);
        };
        requestAnimationFrame(updateTimeLine);
    }
</script>

<style>
    html[data-fullscreen] main {
        min-height: 0;
    }

    header {
        display: flex;
        justify-self: stretch;
        grid-area: 1/1;
        z-index: 100;

        position: relative;
    }
</style>
